/* src /styles/global.css*/

@tailwind base;
@tailwind compinents;
@tailwind utilities;

/*Set light mode*/
body {
    --color-primary:#007bff;
    --color-secondary:#555;
    --color-text-primary:#1a202c;
    --color-text-secondary : #2d3748;
    --color-background:#ffffff;
    --color-card-background:#fff;
    --color-border:#e2e8f0;

    font-family:var(--font-family-sans);
    font-size:var(--font-size-base);
    line-height:var(--color-background);
    color:var(--color-text-primary);
    transition:background-color 0.3s ese , color 0.3s ease;

}
.main-content-area {
  margin-top: 90px;
}
.main-container {
    min-height:100vh;
    position:relative;
    overflow:hidden;
    color:white;
}

body.dark {
    --color-primary: #8ab4f8; 
    --color-secondary: #9aa0a6;
    --color-text-primary: #e8eaed;
    --color-text-secondary: #9aa0a6;
    --color-background: #121212;
    --color-card-background: #1e1e1e;
    --color-border: #3c3c3c;
}

.main-container.dark {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-sm);
    line-height: 1.2;
    color: var(--color-text-primary);
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}

