/* src/App.css */


#abt {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


@media (max-width: 768px) {
  #abt {
    background-attachment: scroll; 
  }
}